.aboutme-parent-div {
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.aboutme-child1-image {
  width: 45%;
}

.aboutme-child1-description {
  text-align: left;
  font-family: Neutrifpro-regular;
  color: #606c82;
  text-align: left;
  width: 45%;
}

.aboutme-hobbies-parent {
}

.aboutme-hobbies-heading {
  font-family: Neutrifpro-bold;
  font-size: 2rem;
  text-align: center;
  color: #313e4f;
}

.aboutme-hobbies-child-element {
  width: 23%;
}

.aboutme-hobbies-child-element-image {
}

.aboutme-hobbies-child-element-image1 {
  height: 30vh;
  width: auto;
  background-image: url('../img/Aboutme/potterhead.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-hobbies-child-element-image2 {
  height: 30vh;
  width: auto;
  background-image: url('../img/Aboutme/music.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}
.aboutme-hobbies-child-element-image3 {
  height: 30vh;
  width: auto;
  background-image: url('../img/Aboutme/fortnite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}
.aboutme-hobbies-child-element-image4 {
  height: 30vh;
  width: auto;
  background-image: url('../img/Aboutme/cricket.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-hobbies-child-element-heading {
  font-family: Neutrifpro-bold;
  font-size: 1.5rem;
  text-align: center;
  color: #606c82;
}

.aboutme-hobbies-child-element-description {
  font-family: Neutrifpro-regular;
  font-size: 1rem;
  text-align: center;
  color: #606c82;
}

.margin-top-6rem {
  margin-top: 6rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.social-surrounding-description {
  font-family: Neutrifpro-regular;
  font-size: 1.1rem;
  text-align: center;
  color: #606c82;
}

.aboutme-experience-height {
  height: 20vh;
}

.aboutme-experience-logos-ms {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/microsoft.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-rm {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/rentomojo.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-in {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/microsoft.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-cogni {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/cogni.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-ted {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/tedx.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-esummit {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/esummit.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-pl {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/pl.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-ds {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/ds.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-experience-logos-ecell {
  height: 100%;
  width: 30%;
  background-image: url('../img/Aboutme/ecell.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}
