.aboutme-parent-div {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.aboutme-child1-image {
  width: 45%;
  background-image: url('../img/Aboutme/0.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-child1-description {
  text-align: left;
  font-family: Neutrifpro-regular;
  color: #606c82;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.2rem;
  width: 45%;
}

.aboutme-hobbies-parent {
  margin-top: 7rem;
}

.aboutme-hobbies-heading {
  font-family: Neutrifpro-bold;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  color: #313e4f;
}

.aboutme-hobbies-child {
  margin-top: 5rem;
}

.aboutme-hobbies-child-element {
  width: 23%;
}
.aboutme-hobbies-child-element-image {
}

.aboutme-hobbies-child-element-image1 {
  height: 17vh;
  width: auto;
  background-image: url('../img/Aboutme/potterhead.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-hobbies-child-element-image2 {
  height: 17vh;
  width: auto;
  background-image: url('../img/Aboutme/music.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}
.aboutme-hobbies-child-element-image3 {
  height: 17vh;
  width: auto;
  background-image: url('../img/Aboutme/fortnite.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}
.aboutme-hobbies-child-element-image4 {
  height: 17vh;
  width: auto;
  background-image: url('../img/Aboutme/cricket.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.aboutme-hobbies-child-element-heading {
  font-family: Neutrifpro-bold;
  font-size: 1.5rem;
  text-align: center;
  color: #606c82;
}

.aboutme-hobbies-child-element-description {
  font-family: Neutrifpro-regular;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 0.4rem;
  color: #606c82;
}

.aboutme-experience-parent {
  margin-top: 8rem;
}

.aboutme-experinece-child1 {
  margin-top: 3rem;
}

.aboutme-surrounding-parent {
  margin-top: 6rem;
}

.margin-top-6rem {
  margin-top: 6rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

@media screen and (min-width: 1400px) {
  .margin-top-6rem {
    margin-top: 4rem;
  }
}

.social-surrounding-description {
  font-family: Neutrifpro-regular;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #606c82;
}

/* .aboutme-experience-height {
  height: 20vh;
} */

.aboutme-experience-logos-ms {
  height: 10vh;
  width: 30%;
  background-image: url('../img/Aboutme/microsoft.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-rm {
  height: 10vh;
  width: 30%;
  background-image: url('../img/Aboutme/rentomojo.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-in {
  height: 10vh;
  width: 30%;
  background-image: url('../img/Aboutme/ingenium.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-size: 70%;
}

.aboutme-experience-logos-cogni {
  height: 10vh;
  width: 30%;
  background-image: url('../img/Aboutme/cogni.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-ted {
  height: 10vh;
  width: 34%;
  background-image: url('../img/Aboutme/tedx.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-esummit {
  height: 10vh;
  width: 30%;
  background-image: url('../img/Aboutme/esummit.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: 80%;
}

@media screen and (max-width: 768px) {
  .aboutme-experience-height {
    flex-direction: row;
  }
  .aboutme-experience-logos-in {
    margin-top: 0rem;
  }
  .aboutme-experience-logos-ms,
  .aboutme-experience-logos-rm,
  .aboutme-experience-logos-in,
  .aboutme-experience-logos-cogni,
  .aboutme-experience-logos-ted,
  .aboutme-experience-logos-esummit {
    width: 50%;
    margin-bottom: 1rem;
  }
  .aboutme-experience-logos-esummit {
    background-size: 92%;
  }
}

.aboutme-experience-logos-pl {
  height: 10vh;
  width: 8.5%;
  background-image: url('../img/Aboutme/pl.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-ds {
  height: 10vh;
  width: 20%;
  background-image: url('../img/Aboutme/ds.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: contain;
}

.aboutme-experience-logos-ecell {
  height: 10vh;
  width: 20%;
  background-image: url('../img/Aboutme/ecell.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-bottom: 3rem;
  background-size: 86%;
}
@media screen and (max-width: 768px) {
  .aboutme-experience-logos-pl {
    width: 15%;
    margin-right: 0.7rem;
  }
  .aboutme-experience-logos-ds {
    width: 32%;
  }
  .aboutme-experience-logos-ecell {
    width: 38%;
  }
}

.aboutme-portfolio-section {
  margin-top: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.aboutme-portfolio-image-1 {
  width: 31%;
  background-image: url('../img/Aboutme/1.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-2 {
  width: 31%;
  background-image: url('../img/Aboutme/2.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-3 {
  width: 31%;
  background-image: url('../img/Aboutme/3.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-4 {
  width: 31%;
  background-image: url('../img/Aboutme/4.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-5 {
  width: 65.5%;
  background-image: url('../img/Aboutme/5.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-6 {
  width: 60%;
  background-image: url('../img/Aboutme/6.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}

.aboutme-portfolio-image-7 {
  width: 36.5%;
  background-image: url('../img/Aboutme/7.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  margin-top: 1rem;
  background-size: contain;
  height: 34vh;
}
@media screen and (max-width: 768px) {
  .aboutme-experinece-child1 {
    margin-top: 0rem;
  }
  .aboutme-experience-height {
    margin-top: 1rem;
  }
  .aboutme-parent-div {
    width: 80%;
    margin-top: 5rem;
  }
  .aboutme-child1-image {
    height: 36vh;
    width: 100%;
  }
  .aboutme-child1-description {
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 2rem;
  }
  .aboutme-child1-description br {
    display: none;
  }
  #specific-br {
    display: inline;
  }
  .aboutme-hobbies-heading {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .aboutme-hobbies-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0rem;
  }
  .aboutme-hobbies-parent {
    margin-top: 4rem;
  }
  .aboutme-hobbies-child-element {
    width: 50%;
    margin-top: 2rem;
  }
  .aboutme-hobbies-child-element-image1,
  .aboutme-hobbies-child-element-image2,
  .aboutme-hobbies-child-element-image3,
  .aboutme-hobbies-child-element-image4 {
    height: 12vh;
  }
  .aboutme-hobbies-child-element-heading {
    font-size: 1.3rem;
  }
  .mobile-margin-top {
    margin-top: 1.5rem;
  }
  .aboutme-hobbies-child-element-description {
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
  .aboutme-experience-parent {
    margin-top: 4rem;
  }
  .aboutme-surrounding-parent {
    margin-top: 2rem;
  }
  .social-surrounding-description {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
  .aboutme-portfolio-image-1,
  .aboutme-portfolio-image-2,
  .aboutme-portfolio-image-3,
  .aboutme-portfolio-image-4 {
    height: 16vh;
    width: 47.5%;
  }
  .aboutme-portfolio-image-5,
  .aboutme-portfolio-image-6 {
    width: 100%;
    height: 16vh;
  }
  .aboutme-portfolio-image-7 {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .aboutme-parent-div {
    margin-top: 13rem;
    width: 55%;
  }
  .aboutme-hobbies-heading {
    font-size: 2.5rem;
  }
  .aboutme-child1-description {
    font-size: 1.4rem;
    line-height: 2.6rem;
    width: 50%;
  }
  /* .aboutme-portfolio-section {
    height: 26vh;
  } */
  .aboutme-hobbies-child-element-image1,
  .aboutme-hobbies-child-element-image2,
  .aboutme-hobbies-child-element-image3,
  .aboutme-hobbies-child-element-image4 {
    height: 14vh;
  }
  .aboutme-portfolio-image-1,
  .aboutme-portfolio-image-2,
  .aboutme-portfolio-image-3,
  .aboutme-portfolio-image-4,
  .aboutme-portfolio-image-5,
  .aboutme-portfolio-image-6,
  .aboutme-portfolio-image-7 {
    height: 27vh;
    margin-top: 0rem;
  }
}
