.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer {
  background: rgba(79, 102, 195, 0.04);
  position: relative;
}

.footer-svg-2 {
  position: absolute;
  top: -5rem;
  right: 0px;
}

.footer-svg-3 {
  position: absolute;
  bottom: 3rem;
  left: 0px;
}

.footer-svg-2 > img,
.footer-svg-3 > img {
  height: 100px;
}

.footer-lets-talk > div {
  font-family: Neutrifpro-bold;
  color: #313e4f;
  font-size: 2rem;
}

.footer-discription > div {
  width: 60%;
  text-align: center;
  color: #606c82;
  font-family: Neutrifpro-regular;
  font-size: 1.1rem;
}

.footer-logos-child {
  width: 54%;
  justify-content: space-evenly;
  font-family: Neutrifpro-regular;
}

.footer-line {
  background: #4f66c3;
  height: 0.8rem;
}

.padding-top-3rem {
  padding-top: 3rem;
}

.padding-bottom-2rem {
  padding-bottom: 2rem;
}

.footer-logo-child-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo-child-child img {
  height: 6vh;
  width: 4vw;
  margin: 0.5rem auto;
}

.footer-logo-child-child > div {
  color: #606c82;
  text-align: center;
}

.footer-logos-text-fb:hover {
  color: #3b5998;
  font-weight: 700;
}

.footer-logos-fb img:hover ~ .footer-logos-text-fb {
  color: #3b5998;
  font-weight: 700;
}

.footer-logos-text-ln:hover {
  color: #0077b5;
  font-weight: 700;
}

.footer-logos-ln img:hover ~ .footer-logos-text-ln {
  color: #0077b5;
  font-weight: 700;
}

.footer-logos-text-m:hover {
  color: #171717;
  font-weight: 700;
}

.footer-logos-m img:hover ~ .footer-logos-text-m {
  color: #171717;
  font-weight: 700;
}

.footer-logos-text-d:hover {
  color: #ea4c89;
  font-weight: 700;
}

.footer-logos-d img:hover ~ .footer-logos-text-d {
  color: #ea4c89;
  font-weight: 700;
}

.footer-logos-text-b:hover {
  color: #053eff;
  font-weight: 700;
}

.footer-logos-b img:hover ~ .footer-logos-text-b {
  color: #053eff;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .footer-icon-name {
    display: none;
  }

  .footer-discription > div {
    width: 80%;
  }

  .footer-logos-child {
    width: 85%;
    z-index: 1000000;
  }

  .footer-svg-2 > img,
  .footer-svg-3 > img {
    height: 10vh;
  }
  .footer-logo-child-child > div {
    display: none;
  }
  .footer-logo-child-child img {
    width: 12vw;
  }
  #footer {
    margin-top: 2rem;
  }
  .footer-discription > div {
    line-height: 2rem;
  }
  .footer-lets-talk > div{
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .footer-parent-child{
    width: 67%;
    margin: auto;
  }
  .footer-logo-child-child img {
    height: 4vh;
    width: 2vw;
  }
  .footer-discription > div {
    font-size: 1.3rem;
  }
  .footer-lets-talk > div{
    font-size: 2.5rem;
  }
}