nav {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.navbar-child-items ul {
  height: 76%;
}

.nav-mobile-icons {
  display: none;
}

.navbar-child-items ul li a {
  position: relative;
  color: #202020;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.navbar-custom-parent {
  display: flex;
  background: white;
  height: 11vh;
}
.navbar-child-logo-parent {
  width: 40%;
}

.navbar-child-logo-parent a {
  color: #000000;
}

.navbar-child-logo-parent a:hover {
  color: #000000;
}

.navbar-child-logo-child-container {
  display: flex;
  flex-direction: row;
  padding: 1.4rem;
}
@media screen and (max-width: 768px) {
  .navbar-child-logo-child-container {
    padding: 0;
  }
}
.navbar-child-logo-child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 0.2rem;
}

.navbar-child-logo-child1 img {
  height: 1.5rem;
}

.navbar-child-logo-name {
  margin: 0 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-child-logo-name div {
  font-family: Neutrifpro-semibold;
  letter-spacing: 0rem;
  font-size: 1.5rem;
}
.navbar-child-items {
  width: 60%;
  font-family: Neutrifpro-regular;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navbar-custom-child-items-child {
  display: flex;
  justify-content: space-evenly;
}

.navbar-custom-child-items-child .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  #nav-items {
    display: none;
  }
  .nav-mobile-icons {
    display: flex;
    height: 100%;
  }
  .navbar {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
  }
  .navbar-child-logo-name {
    margin: 0 0.5rem;
  }
  .navbar-child-logo-child1 img {
    height: 1.2rem;
  }
  .navbar-child-logo-name div {
    font-size: 1rem;
  }
  .navbar-child-logo-parent {
    width: 68%;
    padding: 1rem;
  }
  .navbar-custom-parent {
    height: 9vh;
  }
  .navbar-child-items {
    width: 32%;
  }
  .menu-toggle-span-parent {
    margin-top: 0.2rem;
  }

  #menuToggle {
    display: block;
    position: absolute;
    top: 1.3rem;
    right: 1.4rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle .span-middle-ham {
    width: 15px;
    margin-left: auto;
  }

  #menuToggle span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #4f66c3;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:hover {
    cursor: pointer;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 2px);
    background: white;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0px, -2px);
  }

  #menu {
    position: absolute;
    width: 98vw;
    margin: -100px 0 0 0;
    /* z-index: 100000; */
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    height: 115vh;
    background: #4f66c3;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu a {
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: 2.5rem;
    margin-top: 0.75rem;
  }

  #menu li {
    padding: 10px 0;
    font-size: 1.5rem;
    color: white;
    opacity: 0.3;
    width: fit-content;
    font-family: Neutrifpro-semibold;
  }

  .active-mobile-nav-link {
    opacity: 1 !important;
  }

  #menuToggle input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
  }
  .menu-list-parent {
    display: flex;
    flex-direction: column;
    margin-right: 1.8rem;
  }
  .nav-mobile-icons-msg {
    margin-left: 1rem;
    display: flex;
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(49, 62, 79, 0.1);
  -moz-box-shadow: 0px 4px 4px rgba(49, 62, 79, 0.1);
  box-shadow: 0px 4px 4px rgba(49, 62, 79, 0.1);
}

.active-nav-link {
  border-bottom: 0.1rem solid #f4a654;
}

.nav-grand-parent {
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 414px) and (min-width: 411px) {
  #menuToggle {
    top: 1.45rem;
  }
}
@media screen and (max-width: 410px) and (min-width: 361px) {
  #menuToggle {
    top: 1.4rem;
  }
}
@media screen and (min-height: 775px) {
  #menuToggle {
    top: 1.75rem;
  }
}
@media screen and (max-width: 359px) {
  #menuToggle {
    top: 1.05rem;
  }
}
@media screen and (min-width: 1400px) {
  .nav-grand-parent {
    width: 75%;
    margin: 0 auto;
  }
  .nav-item a {
    font-size: 1.25rem;
  }
  .navbar-child-logo-name > div {
    font-size: 1.8rem;
  }
  .navbar-child-logo-child1 img {
    height: 1.7rem;
  }
  .active-nav-link {
    border-bottom: 0.155rem solid #f4a654;
  }
  .navbar-child-items ul {
    height: 68%;
  }
}
