#project {
  height: 100%;
}
.display-flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .display-flex-evenly {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.display-flex-between {
  display: flex;
  justify-content: space-between;
}
.projects-parent {
  width: 70%;
}
.projects-child {
  height: fit-content;
}
.project-img-parent {
  width: 35%;
  margin-right: 1.75rem;
}
.project-img-1 {
  height: 100%;
  width: auto;
  background-image: url('../img/Landing/Project/ingenium.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
.project-img-2 {
  height: 100%;
  width: auto;
  background-image: url('../img/Landing/Project/whatsapp.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
.project-img-3 {
  height: 100%;
  width: auto;
  background-image: url('../img/Landing/Project/convocation.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
}
.project-desc {
  width: 53%;
}
.project-desc-heading {
  font-family: Neutrifpro-bold;
  color: #606c82;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 1rem;
}
.project-desc-line {
  background: #4f66c3;
  width: 2px;
}
.project-desc-desc {
  text-align: left;
  font-family: Neutrifpro-regular;
  color: #606c82;
  width: 95%;
}
.project-desc-button {
  width: fit-content;
}
.project-desc-button-child {
  background: #4f66c3;
  font-family: Neutrifpro-regular;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}
.margin-left-1rem {
  margin-left: 1rem;
}
.projects-child {
  margin-top: 5rem;
}
.project-desc-child {
  margin-bottom: 2rem;
}
.project-view-parent {
  margin: 7rem 0 2rem 0;
}
.project-view-heading {
  font-family: Neutrifpro-bold;
  color: #313e4f;
  font-size: 2rem;
}
.project-view-button-child {
  background: #faa252;
  border-radius: 0.3rem;
  font-family: Neutrifpro-regular;
  color: white;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
}
.project-view-desc {
  margin: 1.2rem 0 2rem 0;
}
.project-view-desc > div {
  width: 75%;
  text-align: center;
  font-size: 1.5rem;
  font-family: Neutrifpro-regular;
  color: #606c82;
}
.project-view-button-parent {
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .projects-parent {
    width: 80%;
  }
  .projects-child {
    display: flex;
    flex-direction: column;
  }
  .project-img-parent {
    width: 100%;
  }
  .project-img-1,
  .project-img-2,
  .project-img-3 {
    height: 40vh;
    width: 100%;
  }
  .project-desc {
    width: 100%;
  }
  .project-desc-heading {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .project-view-heading {
    font-size: 1.7rem;
    text-align: center;
  }
  .project-view-desc > div {
    font-size: 1.1rem;
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .projects-parent {
    width: 50%;
    margin: auto;
    margin-top: 5.5rem;
  }
  .project-view-parent {
    margin: 8rem 0 4rem 0;
  }
  .project-view-button-child {
    font-size: 1rem;
  }
  .project-view-heading {
    font-size: 2.5rem;
  }
  .project-desc-desc {
    font-size: 1.2rem;
  }
  .project-desc {
    width: 50%;
  }
}
