.text-color-orange {
  color: #faa252;
}

.talk-child1-image {
  width: 38%;
  background-image: url('../img/talk/talk.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  background-size: contain;
}

.talk-grand-parent {
  width: 80%;
  margin-left: 15vw;
}

.talk-parent {
  margin-left: auto;
  margin-right: auto;
}

.talk-heading {
  font-family: Neutrifpro-bold;
  font-size: 3rem;
  line-height: 4rem;
  color: #313e4f;
}

.talk-form-parent {
  width: 70%;
  margin-left: 6.5vw;
  margin-top: 4rem;
}

.talk-form-element {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.talk-form-element label {
  font-family: Neutrifpro-regular;
  font-size: 1rem;
  color: #313e4f;
}

.talk-child1-description {
  width: 38%;
  font-family: Neutrifpro-regular;
  font-size: 1.15rem;
  color: #313e4f;
}

.margin-top-talk-desc {
  margin-top: 1.5rem;
}

.talk-form-element input,
.talk-form-element textarea,
.talk-form-element select {
  background: #f4f4f4;
  border: 2px solid rgba(79, 102, 195, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Neutrifpro-regular;
  font-size: 0.9rem;
  color: #313e4f;
  padding: 0.35rem;
}

.talk-form-field-info {
  font-size: 0.9rem;
  font-family: Neutrifpro-regular;
  margin-top: 1rem;
}

.required-field-star {
  color: red;
}

.talk-button-hover {
  border: none;
}

.talk-button-hover:hover {
  cursor: pointer;
}

.display-flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.success-message {
  font-size: 1.4rem;
  font-family: Neutrifpro-regular;
  margin-top: 1rem;
  color: green;
  display: none;
}

.margin-top-8rem {
  margin-top: 8.5rem;
}

@media screen and (max-width: 768px) {
  .talk-parent {
    height: 100vh;
    justify-content: center;
  }
  .talk-grand-parent {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.75rem;
  }
  .talk-child1-image {
    order: 1;
    height: 30vh;
    width: 100%;
  }
  .talk-child1-description {
    order: 2;
    width: 100%;
  }
  .talk-heading {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-top: 2rem;
  }
  .talk-main-desc {
    text-align: center;
    color: #606c82;
    font-size: 1.2rem;
  }
  .talk-form-parent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .talk-button-hover {
    padding: 0.65rem 1rem;
    font-size: 0.8rem;
  }
  .talk-form-field-info {
    font-size: 0.8rem;
    margin-top: 2rem;
  }
}

@media screen and (min-height: 731px) and (max-height: 767px) {
  .talk-grand-parent {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 359px) {
  .talk-heading {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }
  .talk-main-desc {
    font-size: 1rem;
  }
  .talk-button-hover {
    font-size: 0.7rem;
  }
  .talk-form-field-info {
    font-size: 0.7rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1500px) {
  .talk-grand-parent {
    width: 60%;
    margin-left: 24vw;
    margin-top: 10rem;
  }
  .talk-form-parent {
    width: 72%;
    margin-left: 4.8vw;
  }
}
